*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
}

body{
	background-color: rgba(109, 109, 201,0.7);
	background-image: linear-gradient(rgba(109, 109, 201,0.7)),url('bb.jpg');
}

.counter-section{
	margin: 10% 10% auto;
	color: #fff;
}
.icon-box{
	border: 1px solid #000;
	height: 100px;
	width: 100px;
	margin: 20px auto; 	
	transform: rotate(45deg);
}

.icon-box .fa{
	font-size: 40px;
	margin: 20px auto;
	color: #000;
	transform: rotate(-45deg);
}

.counter-box p{
	font-size: 25px;
	text-transform: uppercase;
}
.counter-box .count{
	font-size: 80px;
}